:root {
  --color-purple : mediumpurple;
  --color-pink : lightpink;
}

ul {
  padding-left: 0;
}

.habit-container {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0 ;
  font-size: 2rem;
}

.habit-name {
  color: var(--color-purple);
  font-weight: bold;
  width: 50%;
}

.habit-count {
  color: white;
  font-weight: bold;
}

.habit-button {
  background: transparent;
  border: none;
  color: var(--color-pink);
  font-size: 2.5rem;
}

.habit-button:hover {
  opacity: 0.8;
}